.navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Ensure it stays above other content */
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__brand {
  margin: 0;
  color: #333;
}

.navigation__menu {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  color: #333;
  flex-grow: 1;
}

.navigation__item {
  display: inline-block;
  padding: 4px;
}

.navigation__item:hover {
  background-color: rgb(142, 186, 159);
  border-radius: 5px;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

.navigation__link.is-active {
  background-color: rgb(142, 186, 159);
  border-radius: 5px;
  padding: 2px;
}

.navigation__toggle {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .navigation__menu {
    flex-direction: column;
    gap: 1rem;
  }

  .navigation__toggle {
    flex-direction: column;
    margin-left: 0cap;
    margin-bottom: 10px;
  }

}